html, body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #939393;
    font-size: 12px;
    height: 100%;
}

#login header {
    height: 70px;
    position: relative;
    padding: 0;
}

#login section {
    height: 100%;
    background-image: url(../images/layout/modul_background.png);
    background-repeat: repeat;
}

#login section .inner {
    margin: auto;
    width: 290px;
    padding-top: 150px;
}

#login h1 {
    position: absolute;
    /*bottom: 10px;*/
    left: 50%;
    margin-left: -53px;
}

#login footer {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    position: absolute;
    padding: 0;
}

#login footer p {
    color: #fff;
}

header {
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
    padding: 1px;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
    background-color: #f7fcf8;
    border-bottom: 2px solid #19aa5d;
}

header .level1 {
    position: absolute;
    top: 63px;
    right: 20px;
    font-size: 12px;
    list-style: none;
    margin: 0;
    background-color: #19aa5d;
    color: #fff;
    width: 180px;
    padding: 0;
}

header .level1 span {
    display: inline-block;
    margin: 5px 10px;
}

header .level2 {
    top: 20px;
    right: 0;
    bottom: auto;
    background-color: #fff;
    color: #19aa5d;
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #19aa5d;
    height: 0;
    overflow: hidden;
}

header .level1 .resizer {
    background-color: #19aa5d;
    background-image: url(../images/layout/trait.png);
    background-position: 3px -8px;
    bottom: 4px;
    left: auto;
    right: 0px;
    cursor: n-resize;
    box-shadow: none;
}

header ul ul li {
    padding: 5px;
}

header ul span {
    border-bottom: 1px dotted #fff;
    cursor: pointer;
}

header h1 {
    width: 106px;
    height: 21px;
    text-indent: -100%;
    background-image: url(../images/layout/logo.png);
    margin: 34px 50px;
}

#main {
    margin: 86px 0 60px;
    width: 100%;
    float: left;
    min-height: 100%;
}

#main:after {
    content: ' ';
    display: table;
    clear: both;
}

a {
    color: #19aa5d;
    text-decoration: none;
}

a:hover {
    color: #52ca8b;
}

aside {
    width: 220px;
    margin: 86px 0 0 -100%;
}

aside.right {
    float: left;
    margin-left: -220px;
}

#main section {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    position: relative;
}

#main section.right {
    background-color: #c3e7d1;
    box-shadow: inset 0 0 10px rgba(105, 105, 105, 0.9);
    min-height: 100%;
    padding: 20px 0;
    width: 0%;
    background-image: url(../images/layout/modul_background.png);
}

#main section.right h1 {
    color: #fff;
    text-shadow: #000 0 1px 0;
    background-position: 0 -8px;
}

#main .inner:after {
    content: " ";
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
}

#main .inner {
    margin: 0 220px;
    min-height: 100%;
}

footer {
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    z-index: 1;
    background-color: #f7fcf8;
    background-image: url(../images/layout/background.png);
}

footer p {
    text-align: center;
    /*position:fixed;*/
    bottom:0;
    background: #383f38;
    box-shadow: inset 0 4px 8px #222; 
    width:100%;
    z-index: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    background-color: #19aa5d;
    color: #fff;
    font-weight: normal;
    height: 30px;
    text-align: left;
    padding: 0 20px;
    text-shadow: -1px -1px 0 #666;
    background-image: url(../images/layout/modul_background.png);
}

td {
    padding: 8px 20px;
}

tr:nth-child(2) {
    background-color: #e6f7ed;
}

.modul {
    width: 180px;
    background-color: #e6f7ed;
    margin: 20px;
    padding: 0;
    overflow: hidden;
}

.modul ul {
    margin: 0 8px;
    padding: 0 0 20px;
    list-style: none;
}

.modul ul ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.modul ul a {
    color: #939393;
    text-decoration: none;
}

.modul ul a:hover {
    color: #52ca8b;
}

.modul h1 {
    font-size: 14px;
    color: #fff;
    background-color: #19aa5d;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
    background-image: url(../images/layout/modul_background.png);
    text-shadow: -1px -1px 0 #666;
}

.modul h2 {
    font-size: 14px;
    color: #19aa5d;
    font-weight: normal;
    margin: 10px 0;
    background-image: url(../images/layout/trait.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding-left: 20px;
}

.button {
    border: 1px solid #c9c9c9;
    border-bottom-color: #737373;
    border-right-color: #737373;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #f6f6f6 49%, #ededed 51%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(49%,#f6f6f6), color-stop(51%,#ededed), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#f6f6f6 49%,#ededed 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#f6f6f6 49%,#ededed 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#f6f6f6 49%,#ededed 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#f6f6f6 49%,#ededed 51%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fefefe',GradientType=0 );
    padding: 7px 50px;
    display: inline-block;
    color: #939393;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0;
}

.button:hover {
    background: #eee;
}

.button:active {
    border-color: #939393;
    border-bottom-color: #c9c9c9;
    border-right-color: #c9c9c9;
    padding: 8px 49px 6px 51px;
}

section h1 {
    color: #3eb25c;
    font-weight: normal;
    background-image: url(../images/layout/trait.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding-left: 20px;
    font-size: 14px;
}

label {
    width: 120px;
    display: inline-block;
    color: #fff;
    line-height: 30px;
}

fieldset {
    border: 0;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #474;
    border-top: 1px solid #9c9;
}

.field {
    margin: 5px 0;
}

input[type=text], input[type=password] {
    padding: 5px;
    color: #939393;
    border: 1px solid #888;
    box-shadow: inset 1px 1px 5px 0px #aaa;
}

.resizer {
    background-color: #fff;
    background-image: url(../images/layout/trait.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 20px;
    height: 20px;
    text-indent: -100em;
    overflow: hidden;
    cursor: e-resize;
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.8);
}

/***** Debug ******/
#sp_console_button{
    position:fixed;
    bottom:0;
    background: #383f38;
    box-shadow: inset 0 4px 8px #222; 
    padding: 5px 5px; 
    width:100%;
    z-index: 9;
}
#sp_console {
    position:fixed;
    bottom:25px;
    width:100%;
    height:40%;
    overflow: auto;
    background: #383f38;
    box-shadow: inset 0 4px 8px #222; 
    padding: 10px 10px; 
    line-height: 18px; 
    font-size: 11px; 
    color:#efe;
    border-top:2px solid #ccc;
    z-index:10;
    display: none ;
}